<h2 class="text-2xl text-center font-bold">Register Here</h2>

<form class="container max-w-sm mx-auto mt-14 bg-gray-100 p-6 rounded-lg shadow" #form="ngForm" (ngSubmit)="onsubmit()">
    <div class="mb-5">
        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
        <input type="username" id="username" name="Username" #Username="ngModel" [(ngModel)]="data.username" placeholder="enter username" class="block w-full p-2 border border-gray-300 rounded-lg bg-gray-50 text-base form-control" required>
    </div>
    <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
        <input type="password" id="password" name="Password" #Password="ngModel" [(ngModel)]="data.password" placeholder="enter password " class="block w-full p-2 border border-gray-300 rounded-lg bg-gray-50 text-base form-control" required>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>
